mixin create_names
  each i in unisex
    option(value=i)= i
doctype html 
html(lang="en")
  include ../includes/head.pug
  +head("Banano Challenge", "A website for the Banano Challenge", "../img/bananaCropped.png", "true", "index", "A Cartoon Banana")
  body.min-vh-100.d-flex.flex-column
    #infoModal.modal.fade
      .modal-dialog
        .modal-content.bg-dark.text-light
          #infoModalHeader.modal-header.text-break
            h5#infoModalHeaderH5.modal-title Account here
            button.btn-close(data-bs-dismiss="modal", aria-label="Close")
          #infoModalBody.modal-body
            p body stuff
    #mainContainer.container.my-3
      .justify-content-center.align-items-center.d-flex.h-100.flex-wrap
        .justify-content-center.col-12.col-md-8.d-flex.flex-wrap
          #bananoBirthday.text-primary.text-center
          input.form-control.mb-2(
            type="text",
            list="names",
            placeholder="Enter your name here",
            aria-label="Your name"
          )
          datalist#names
            +create_names
          h1.text-primary OR
          .input-group.mb-2
            input#addressInput.form-control(
              type="text",
              placeholder="Enter your address here",
              aria-label="Banano Address",
              aria-describedby="submitButton"
            )
            button#submitButton.btn.btn-outline-primary(
              type="button",
              onsubmit="return formHandler()"
            ) Submit
          h1.text-wrap.w-100.text-center.text-primary OR
          p.text-primary.text-center Guess the price of banano on a specific day!
          .input-group.mb-2.d-none.d-sm-flex
            input#dateInput.form-control.col-12(
              type="date",
              onblur="document.getElementById('dateInputSmall').value = this.value",
              aria-label="Date Time Guess"
            )
            span.input-group-text ¢
            input#priceGuessInput.form-control(
              type="number",
              onblur="document.getElementById('priceGuessInputSmall').value = this.value",
              placeholder="0",
              aria-label="Guess in USD"
            )
            button#guessSubmitButton.btn.btn-outline-primary(
              type="button",
              onsubmit="return checkGuess()"
            ) Submit
          input#dateInputSmall.form-control.col-12.d-flex.d-sm-none(
            type="date",
            onblur="document.getElementById('dateInput').value = this.value",
            aria-label="Date Guess"
          )
          .input-group.mb-2.d-flex.d-sm-none
            span.input-group-text ¢
            input#priceGuessInputSmall.form-control(
              type="number",
              onblur="document.getElementById('priceGuessInput').value = this.value",
              placeholder="0.00",
              aria-label="Guess in USD"
            )
            button#guessSubmitButtonSmall.btn.btn-outline-primary(
              type="button",
              onsubmit="return checkGuess()"
            ) Submit
          #priceGuess.text-primary.text-center.w-100
          h1.text-primary OR
          #bananoSeedAndAccounts.text-primary.mt-3.col-12.text-center.col-12
            button.btn.btn-outline-primary Click here for a banano account
  include ../includes/footer.pug
  +footer
